<div id="contact">
  <div class="inner pane-inner">
    <h2>Contact &amp; Attractions</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.055754008036!2d-82.7546650849371!3d27.746426282775708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2fd5cc95d6ccd%3A0x118d6dd24a37ba83!2s7901+Blind+Pass+Rd%2C+St+Pete+Beach%2C+FL+33706!5e0!3m2!1sen!2sus!4v1541516807394" width="960" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="company-information">
      <div class="address">
        <h4>Address</h4>
        <p>7901 Blind Pass Road - St. Pete Beach, FL &nbsp;33706</p>
      </div>
      <div class="email">
        <h4>Email</h4>
        <p><a href="mailto:info@blindpassresort.com">info@blindpassresort.com</a></p>
      </div>
      <div class="phone">
        <h4>Phone</h4>
        <p>1 (877) 350-0053 ext 5</p>
      </div>
    </div>
  </div>
</div>
